# ShuttleCut 锁定依赖(Windows RTX 2070 实测,Python 3.12 / torch 2.14.0+cu130)
# GPU 版 torch 安装(二选一,默认源或阿里云镜像):
#   uv pip install torch==2.14.0+cu130 torchvision==0.29.0+cu130 --find-links https://mirrors.aliyun.com/pytorch-wheels/cu130/ --default-index https://mirrors.aliyun.com/pypi/simple/
annotated-types==0.8.0
anyio==4.14.2
av==18.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
filelock==3.32.5
flatbuffers==25.12.19
fonttools==4.64.0
fsspec==2026.7.0
fvcore==0.1.5.post20221221
idna==3.19
importlib-metadata==9.0.1
iniconfig==2.3.0
iopath==0.1.10
jinja2==3.1.6
joblib==1.6.0
kiwisolver==1.5.1
lazy-loader==0.5
librosa==1.0.0
llvmlite==0.49.0
markupsafe==3.0.3
matplotlib==3.11.1
mpmath==1.3.0
msgpack==1.2.2
narwhals==2.25.0
networkx==3.6.1
numba==0.67.0
numpy==2.5.3
nvidia-ml-py==13.610.43
opencv-python==5.0.0.93
packaging==26.3
parameterized==0.9.0
pillow==12.3.0
platformdirs==4.11.7
pluggy==1.6.0
pooch==1.9.0
portalocker==4.3.0
psutil==7.1.3
pycparser==3.0
pygments==2.21.0
pyparsing==3.3.2
pysocks==1.7.1
pytest==9.1.1
python-dateutil==2.9.0.post0
pytorchvideo==0.1.5
pyyaml==6.0.3
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.1
setuptools==84.0.0
six==1.17.0
soundfile==0.14.0
soxr==1.1.0
sympy==1.14.0
tabulate==0.10.0
termcolor==3.3.0
threadpoolctl==3.6.0
tqdm==4.70.0
typing-extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
yacs==0.1.8
zipp==4.1.0
torch==2.14.0+cu130
torchvision==0.29.0+cu130
-e .
